.itemCart {
    display: flex;
    border-radius: 5px;
    width: 500px;
    margin: 10px auto;
    border: ridge;
    border-color: blanchedalmond;
    background-color: aliceblue;
}
.itemCart img {
    width: 200px;
    margin-right: 1rem;
    border-radius: 5px;
}
.itemCartDiv{
    width: 100%;
}
.titulo{
    text-align: center;

}
.divisor{
    width: 90%;
    margin: auto;
    border-color: cadetblue;
}
.resto{
    width: 90%;
    border-width: thick;
    margin: 10px 10px auto;
    padding: 10px;
    background-color: white;
}
.boton{
    margin: 15px;
}