/* estilos container */

.container{
    max-width: none;
    width: 350px ;
    height : 700px ;
    padding-left: 20px ;
    padding-bottom: 20px ;
    padding-top: 40px;
}

/* estilos card */

.card{
    width: 300px ;
    height: auto ;
}

.card-image{
    width: 300px;
    margin-left:auto ;
    margin-right:auto ;
    height: auto ;

}

.card .card-image img { 
        height: 400px;
    }

/* botones */
.card .card-action:last-child{
    padding: 1px;
}
    